
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    background-image: url(images/VALORANT_YR1_KeyArt_4k1.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 1200px;
    font-family: 'Roboto', sans-serif; 
    background-color: rgb(53, 53, 53);
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
}
nav {
    background-color: hsla(0, 0%, 0%, 0.589);
    align-items: center;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(5px); 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem; 
}

nav ul li a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s, transform 0.3s;
    display: block; 
}

nav ul li a:hover {
    color: rgb(255, 70, 85);
    transform: scale(1.1);
}

.vctnav {
    display: flex;
    align-items: center;
}

.vctnavimg {
    width: 50px;
    height: auto;
}

.vctlogonav {
    padding-left: 1rem;
    font-weight: bolder;
    font-size: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #2A363B;
    line-height: 1.2;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.intro-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #4A4A4A;
    line-height: 1.6;
}
.event-section{
    display: flex;
    padding: 2rem;
}
footer {
    background-color: hsla(0, 0%, 0%, 0.589);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
.top_main {
    background-color: #F3F1ED;
    padding: 2rem;
    backdrop-filter: blur(5px); 
}
.subpage-image {
    width: 400px;
    height: 225px;
    object-fit: contain;
    padding-left: 2rem;
}
.img-banner {
    width: 1100px;
    height: auto;
    align-items: center;
    align-content: center;
    padding: 2rem;
}